In [1]:
import pandas as pd
import numpy as np

In [3]:
names = ['Jay', 'Mary', 'Carina', 'Danielle']
names_arr = np.array(names)
names_arr

array(['Jay', 'Mary', 'Carina', 'Danielle'], dtype='<U8')

In [5]:
names_series = pd.Series(names)
names_series

0         Jay
1        Mary
2      Carina
3    Danielle
dtype: object

In [7]:
# read in a DataFrame from a 2d list (matrix)
my_dog_info = [
    ['Name', 'Teddy'],
    ['Species', 'Dog'],
    ['Color', 'Black']
]

ted1 = pd.DataFrame(my_dog_info)
ted1

         0      1
0     Name  Teddy
1  Species    Dog
2    Color  Black

In [8]:
my_dog_info2 = [
    ['Name', 'Species', 'Color'],
    ['Teddy', 'Dog', 'Black']
]

ted2 = pd.DataFrame(my_dog_info2)
ted2

       0        1      2
0   Name  Species  Color
1  Teddy      Dog  Black

In [21]:
# my_dog = {
#     'Name': ['Teddy', 'Pug', 'Mara'],
#     'Breed': ['Lab', 'Pug', 'Dachshund'],
#     'Color': ['Black', 'Tan', 'White']
# }

In [24]:
dog = {
    'Name': 'Teddy',
    'Breed': 'Lab',
    'Color': 'Black'
}

dog_df = pd.DataFrame(dog, index=[0])

In [28]:
dog2 = {
    'Name': ['Teddy'],
    'Breed': ['Lab'],
    'Color': ['Black']
}

dog_df2 = pd.DataFrame(dog2)
dog_df2

    Name Breed  Color
0  Teddy   Lab  Black

In [30]:
dog3 = {
    'Name': ['Teddy', 'Pug'],
    'Breed': ['Lab', 'Pug'],
    'Color': ['Black', 'Tan']
}

dog_df3 = pd.DataFrame(dog3)
dog_df3

    Name Breed  Color
0  Teddy   Lab  Black
1    Pug   Pug    Tan

In [33]:
owner_names = ['Jay', 'Mary']

# show df as if we replaced index
dog_df3.set_axis(owner_names)

       Name Breed  Color
Jay   Teddy   Lab  Black
Mary    Pug   Pug    Tan

In [37]:
# what is df actually -> df doesn't get replace (state doesn't change)
dog_df3

    Name Breed  Color
0  Teddy   Lab  Black
1    Pug   Pug    Tan

In [35]:
# assign df with index to a new var
dog_data = dog_df3.set_axis(owner_names)
dog_data

       Name Breed  Color
Jay   Teddy   Lab  Black
Mary    Pug   Pug    Tan

In [ ]:
# reassign df to itself, repalce it with version returned from method
dog_df3 = dog_df3

### DataFrame Recap

In [41]:
dogs = {
    'Name': ['Teddy', 'Pug', 'Mara'],
    'Breed': ['Lab', 'Pug' ,'Dachshund'],
    'Color': ['Black', 'Tan', 'White']
}

dogs_df = pd.DataFrame(dogs)
dogs_df

    Name      Breed  Color
0  Teddy        Lab  Black
1    Pug        Pug    Tan
2   Mara  Dachshund  White

In [50]:
# more_dogs = ['Speranza', 'Dachshund', 'Brown']
# easier to work with data frames 
more_dogs = pd.DataFrame({
    'Name': ['Speranza'],
    'Breed': ['Dachshund'],
    'Color': ['Brown']
})
more_dogs

       Name      Breed  Color
0  Speranza  Dachshund  Brown

In [53]:
# dogs_df.append(more_dogs, ignore_index=True)
print(type(dogs_df))
print(type(more_dogs))
pd.concat([dogs_df, more_dogs])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

       Name      Breed  Color
0     Teddy        Lab  Black
1       Pug        Pug    Tan
2      Mara  Dachshund  White
0  Speranza  Dachshund  Brown

#### Notes
- When combining data, put both types of data in dataframes first, then use pd.concat or df.append
- Anytime you call a pandas function (in pandas modual, or method for df), you are not changing the df, returning a new df -> show new df or save new df
- When you are calling pandas methods, you are not changing any of your data unless you reassign original variable
- Calling pandas methods CREATES new data, does not change the state of the data