In [40]:
import numpy as np
import pandas as pd

In [41]:
dogs = {
    'Name': ['Teddy', 'Pug', 'Mara'],
    'Breed': ['Lab', 'Pug', 'Dachshund'],
    'Color': ['Black', 'Tan', 'White'],
    'Age': [5, 9, 1]
}

# multi indexing for dictionaries
dogs['Name'][1]

'Pug'

In [42]:
dogs_df = pd.DataFrame(dogs)
dogs_df

    Name      Breed  Color  Age
0  Teddy        Lab  Black    5
1    Pug        Pug    Tan    9
2   Mara  Dachshund  White    1

In [43]:
type(dogs_df['Name'])

pandas.core.series.Series

In [44]:
dogs_df['Age'][0]

5

In [45]:
# all dogs names
dogs_df['Name']

0    Teddy
1      Pug
2     Mara
Name: Name, dtype: object

In [46]:
# first dog's name
dogs_df['Name'][0]

'Teddy'

In [50]:
# what if we set the index (row labels) to dog's names
dogs_df = dogs_df.set_index('Name')
dogs_df

           Breed  Color  Age
Name
Teddy        Lab  Black    5
Pug          Pug    Tan    9
Mara   Dachshund  White    1

In [51]:
dogs_df.index

Index(['Teddy', 'Pug', 'Mara'], dtype='object', name='Name')

In [62]:
# Access single "cell" using col and row key
# column first then row 
dogs_df['Age']['Teddy']

5

In [63]:
# look by row
dogs_df.iloc[0]

Breed      Lab
Color    Black
Age          5
Name: Teddy, dtype: object

In [64]:
# look by multiple rows
dogs_df.iloc[0:2]

      Breed  Color  Age
Name
Teddy   Lab  Black    5
Pug     Pug    Tan    9

In [65]:
dogs_df

           Breed  Color  Age
Name
Teddy        Lab  Black    5
Pug          Pug    Tan    9
Mara   Dachshund  White    1

In [71]:
# get first row, first column
# row first then column
# index based on the numbers
dogs_df.iloc[0, 0]

'Lab'

In [72]:
# get whole row
dogs_df.loc['Teddy']

Breed      Lab
Color    Black
Age          5
Name: Teddy, dtype: object

In [73]:
# get Teddy's age
# index based on names of rows and columns 
dogs_df.loc['Teddy', 'Age']

5

In [76]:
type(dogs_df.loc['Teddy'])

pandas.core.series.Series

In [75]:
type(dogs_df.loc['Teddy', 'Age'])

numpy.int64

In [82]:
dogs_df.loc[['Teddy']] # passing a single value list to the loc method

      Breed  Color  Age
Name
Teddy   Lab  Black    5

In [84]:
dogs_df.loc['Teddy':'Mara']

           Breed  Color  Age
Name
Teddy        Lab  Black    5
Pug          Pug    Tan    9
Mara   Dachshund  White    1

In [85]:
type(dogs_df.loc[['Teddy']])

pandas.core.frame.DataFrame

In [90]:
# create new column in a dataframe 
# operation will be vectorized
# assigning new series in the dataframe ... MODIFYs df
dogs_df['Year Born'] = 2022 - dogs_df['Age']

In [91]:
dogs_df

           Breed  Color  Age  Year Born
Name
Teddy        Lab  Black    5       2017
Pug          Pug    Tan    9       2013
Mara   Dachshund  White    1       2021

In [92]:
# equal sign -> reassigning part of dataframe and changing what it contains
# no equal sign -> did not save changes